
<% if user_signed_in? && @note.user == current_user %>
  <div class="tools">
    <%= link_to image_tag('exit.png', class:'toolbtn',title:'ログアウト'), destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %>
  </div>
  <div class="tools">
    <%= link_to image_tag('user.png', class:'toolbtn', title:'会員情報編集'),user_path(@note.user_id) %>
  </div>
  <div class="tools">
    <%= link_to image_tag('chat.png', class:'toolbtn', title:'チャット'),note_comments_path(@note.id) %>
  </div>
  <div class="tools">
    <%= link_to image_tag('notification.png', class:'toolbtn', title:'通知を見る'),'#' %>
  </div>
  <div class="tools">
    <%= link_to image_tag('garbage-box.png', class:'toolbtn',title:'メモを削除'),note_path(@note.id), method: :delete, data: { confirm: 'メモを削除しますか？' } %>
  </div>
<% end %>