<div class="tools">ツールバー</div> 
  <div class="tools">
    <%= link_to image_tag 'shape.png', class:'toolbtn' %>
  </div>
  <div class="tools">
    <%= link_to image_tag 'marker.png', class:'toolbtn' %>
  </div>
  <div class="tools">
    <%= link_to image_tag 'clip.png', class:'toolbtn' %>
  </div>
  <div class="tools">
    <%= link_to image_tag 'share-btn.png', class:'toolbtn' %>
  </div>
  <div class="tools">
    <%= link_to image_tag('garbage-box.png', class:'toolbtn'),note_path(@note.id), method: :delete %>
</div>