<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
      <%= render "index" %>
    </div>
    <div class="book-right">
      <div class="views">
        <%= form_with model: @note, url: note_path(@note.id), id:'text-content', local: true do |f| %>
          <div class="title-contents">
            <%= f.text_field :title, id:'memo-title', class:'memo-title' %>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
            <% if @user.avatar.attached? %>
              <%= link_to image_tag(@user.avatar, class:'user-icon'),user_path(@note.user_id) %>
            <% else %>
              <div class='user-icon'>
                <%= link_to image_tag('user.png', class:'user-icon'),user_path(@note.user_id) %>
              </div>
            <% end %>
          </div>
          <div class="text-contents">
            <%= f.rich_text_area :action_text, id:'memo-content', class:'memo-content' %>
          </div>
        <% end %>
      </div>
      <div class="toolbar">
        <%= render "toolbar" %>
      </div>
    </div>
  </div> 
</div> 