<div class="comment">
  <div class="comment-user">
    <%= comment.user.nickname %>
    <% if comment.user.avatar.attached? %>
    <%= link_to image_tag(comment.user.avatar, class:'user-icon'),user_path(comment.user_id) %>
    <% else %>
    <%= link_to image_tag('user.png', class:'user-icon'),user_path(comment.user_id) %>
    <% end %>
  </div>
  <div class="lower-comment">
    <div class="comment-date">
        <%= l comment.created_at %>
    </div>
    <div class="comment-content">
      <%= safe_join(comment.content.split("\n"),tag(:br)) %>
      <%= link_to image_tag('garbage-box.png', class:'comment-toolbtn'),note_comment_path(comment.note_id, comment.id), method: :delete, data: { confirm: 'コメントを削除しますか？' } %>
    </div>
  </div>
</div>