<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
      <div class="contents-row" id='contents-row'>
          <%= render @comments %>
      </div>
      <div class="comment-container">
        <textarea id="comment-text" class='comment-text' name="content" placeholder="コメントする" cols="50em" rows="1" wrap="hard"></textarea>
        <%= button_to "送信", note_comments_path(@note.id), class:'comment-btn', id:'comment-btn' %>
        <input type="hidden" data-behavior="comment_speaker" data-user="<%= current_user.id %>" data-note="<%= @note.id %>">
      </div>
    </div>
    <div class="book-right">
      <div class="views">
        <%= form_with model: @note, url: note_path(@note.id), id:'text-content', local: true do |f| %>
          <div class="title-contents">
            <%= f.text_field :title, id:'memo-title', row: '3',class:'memo-title' %>
          </div>
          <div class="text-contents">
            <%= f.rich_text_area :action_text, id:'memo-content', class:'memo-content' %>
          </div>
        <% end %>
      </div>
      <div class="toolbar-comment">
        <%= render "toolbar_comment" %>
      </div>
    </div>
  </div> 
</div> 