<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
    <%= form_with model: @user, url: user_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class='user-avatar'>
        <label> 
          <%= image_tag 'user_plus.png', class:'user-plusbtn' %>
          <%= f.file_field :avatar,class:'edit-avatar' %>
        </label>
      </div>
    </div>
    <div class="book-right">
      <div class='title'>
        <h2>Edit</h2>
      </div>
        <div class="field">
          <%= f.label :nickname %> <br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :profile %><br />
          <%= f.text_area :profile, size: "40x5", class:'profile-field' %>
        </div>

        <div class="actions">
          <%= f.submit "Edit", class:'submit-btn' %>
        </div>
      <% end %>
        <div class="actions">
          <%= button_to '戻る', {controller: 'users', action: 'show'}, method: :get, class:'back-btn' %>
        </div>
    </div>
  </div> 
</div> 