<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
      <div>ようこそ</div>
    </div>
    <div class="book-right">
      <div class='title'>
        <h2>Edit</h2>
      </div>
      <%= form_with model: current_user, url: user_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="field">
          <%= f.label :nickname %> <br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <div class="actions">
          <%= f.submit "Edit", class:'submit-btn' %>
        </div>
      <% end %>
        <div class="actions">
          <%= button_to '戻る', {controller: 'notes', action: 'edit'}, method: :get, class:'back-btn' %>
        </div>
    </div>

  <%# フェードインアクション %>
    <%# <div class="start">
      <div class='start-log'>
        <%= image_tag "note.png" 
        <h1>My Notes</h1>
      </div>
    </div> %>
  </div> 
</div> 