<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
      <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, class:'user-avatar') %>
      <% else %>
        <div class='user-avatar'>
           <%= image_tag 'user.png', class:'avatar-none' %>
        </div>
      <% end %>
    </div>
    <div class="book-right">
      <div class='title'>
      </div>
        <div class="user-nickname">
          <%= @user.nickname %>
          <div class='user-tools'>  
            <%= link_to image_tag('edit_button.png', class:'user-toolbtn', title:'ユーザ情報を編集する'),edit_user_path(current_user.id) %>
            <% if unchecked_notifications.any? %>
              <div class='notification-mark'></div>
            <% end %>
            <%= link_to image_tag('notification.png', class:'user-toolbtn', title:'通知を見る'), notifications_path %>
          </div>
        </div>
        <div class='notification'>
        </div>
        <div class="user-profile">
          <%= safe_join(@user.profile.split("\n"),tag(:br)) if @user.profile.present? %>
        </div>
        <div class="actions">
          <%= button_to '戻る', {controller: 'notes', action: 'index'}, method: :get, class:'back-btn' %>
        </div>
    </div>
  </div> 
</div> 