<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    説明文
  </p>
  <h2 class='ad-footer-title'>
    簡単操作で学習メモ！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>My Notesについて</h2>
      <ul>
        <li><%= link_to '使い方', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>My Noteを見る</h2>
      <ul>
        <li><%= link_to '会員情報', edit_user_path(current_user.id), class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>@My Notes</p>
</div>