<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
      <div>ようこそ</div>
      <div class='devise-error'>
        <%= devise_error_messages! %>
      </div>
    </div>
    <div class="book-right">
      <div class='title'>
        <h2>Log in</h2>
        <%= link_to '新規登録はこちら', new_user_registration_path %>
      </div>
      <%= form_with model: @user, url: new_user_session_path, id: 'signin_user', class: 'signin_user', local: true do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.label :remember_me %><br />
            <%= f.check_box :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:'submit-btn' %>
        </div>
      <% end %>
    </div>

  <%# フェードインアクション %>
    <div class="start">
      <div class='start-log'>
        <%= image_tag "note.png" %>
        <p>My Notes</p>
      </div>
    </div>  
  </div> 
</div> 